<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hydrocarbon Companion</title>
    <style>
        body { margin: 0; }
        #gui_container{
            position: absolute;
            top: 25%;
            left: 84%;
        }
    </style>
    <link rel="stylesheet" href="/fp-the-hydrocarbons/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/fp-the-hydrocarbons/home">
                        Hydrocarbon Companions
                    </a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/metana">Methane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/etana">Ethane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/propana">Propane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/butana">Butane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/pentana">Pentane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/heksana">Heksane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/heptana">Heptane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/oktana">Oktane</a>
                </li>
                <li class="active">
                    <a href="#">Nonane</a>
                </li>
                <li>
                    <a href="/fp-the-hydrocarbons/visualize/dekana">Dekane</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.js" integrity="sha512-tmdOKTY7I6MOUcCL/9fa4s+BnBCgEuifJImOX46m36+rxVMcgHEPGLVoCXHR6ZvjcKGoVixEiBKE4LcYLnv0Cw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="js/mtl.js"></script>
    <script src="js/obj.js"></script>

    <div id="gui_container">
    </div>
    
    <script type="module">

    import { OrbitControls } from "https://threejs.org/examples/jsm/controls/OrbitControls.js";
        
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(75,window.innerWidth/window.innerHeight,0.1,1000)
    camera.position.z = 70;
    
    // Create a Full Screen WebGL Renderer
    var renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
    renderer.setClearColor("#61E7FF");
    renderer.setSize(window.innerWidth,window.innerHeight);
    document.body.appendChild(renderer.domElement);

    
    // Make sure the project is responsive based on window resizing
    window.addEventListener('resize', () => {
        renderer.setSize(window.innerWidth,window.innerHeight);
        camera.aspect = window.innerWidth / window.innerHeight;

        camera.updateProjectionMatrix();
    })
    
    var controls = new OrbitControls(camera, renderer.domElement);
    //controls.update();
    // Add a light
    var ambient = new THREE.AmbientLight(0x404040);
    var light = new THREE.PointLight(0xFFFFFF, 1.5, 1000)
    light.position.set(5, 5, 50);
    scene.add(ambient);
    scene.add(light);

    var geom = [];
    var sphereC = new THREE.SphereGeometry(5, 32, 32);
    var sphereH = new THREE.SphereGeometry(3, 32, 32);
    var cylinder = new THREE.CylinderGeometry(1, 1, 5, 32);
    var cylinderC = new THREE.CylinderGeometry(1, 1, 15, 32);

    // Geom[0] = Tipe
    // Geom[1] = Posisi awal. Untuk C terhadap World, sisanya terhadap C
    // Geom[2] = Distance ke C.
    // Geom[3] = Arah H dan silinder terhadap C (geom[0]);
    // Geom[4] = Warna;
    geom.push([sphereC, new THREE.Vector3(-59+8,-8,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([sphereC, new THREE.Vector3(-46+8,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([cylinderC, new THREE.Vector3(-51+8,0,0), 0, new THREE.Vector3(2,2,0), "red"]);
    geom.push([cylinderC, new THREE.Vector3(-41+8,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);

    geom.push([sphereC, new THREE.Vector3(-33+8,-8,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([sphereC, new THREE.Vector3(-20+8,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([cylinderC, new THREE.Vector3(-25+8,0,0), 0, new THREE.Vector3(2,2,0), "red"]);
    geom.push([cylinderC, new THREE.Vector3(-15+8,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);

    geom.push([sphereC, new THREE.Vector3(-7+8,-8,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([sphereC, new THREE.Vector3(6+8,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([cylinderC, new THREE.Vector3(1+8,0,0), 0, new THREE.Vector3(2,2,0), "red"]);
    geom.push([cylinderC, new THREE.Vector3(11+8,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);

    geom.push([sphereC, new THREE.Vector3(19+8,-8,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([sphereC, new THREE.Vector3(32+8,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([cylinderC, new THREE.Vector3(27+8,0,0), 0, new THREE.Vector3(2,2,0), "red"]);

    geom.push([sphereC, new THREE.Vector3(39+13,-8,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    // geom.push([sphereC, new THREE.Vector3(32+13,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    geom.push([cylinderC, new THREE.Vector3(32+13,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);
    
    // geom.push([sphereC, new THREE.Vector3(52+13,5,0), 0, new THREE.Vector3(0,0,0), "orange"]);
    
    geom.push([sphereH, new THREE.Vector3(47+13,0,0), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(44+13,-3,0), 0, new THREE.Vector3(2,2,0), "red"]);

    geom.push([sphereH, new THREE.Vector3(-66+8,0,0), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-63+8,-3,0), 0, new THREE.Vector3(-2,2,0), "red"]);

    geom.push([sphereH, new THREE.Vector3(-59+8,-17,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-59+8,-14,6), 3, new THREE.Vector3(0,4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-59+8,-17,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-59+8,-14,-6), 3, new THREE.Vector3(0,4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-46+8,14,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-46+8,11,6), 3, new THREE.Vector3(0,-4,-4), "red"]);
   
    geom.push([sphereH, new THREE.Vector3(-46+8,14,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-46+8,11,-6), 3, new THREE.Vector3(0,-4,4), "red"]);
    
    geom.push([sphereH, new THREE.Vector3(-33+8,-17,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-33+8,-14,6), 3, new THREE.Vector3(0,4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-20+8,14,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-20+8,11,6), 3, new THREE.Vector3(0,-4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(6+8,14,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(6+8,11,6), 3, new THREE.Vector3(0,-4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(32+8,14,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(32+8,11,6), 3, new THREE.Vector3(0,-4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-7+8,-17,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-7+8,-14,6), 3, new THREE.Vector3(0,4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(19+8,-17,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(19+8,-14,6), 3, new THREE.Vector3(0,4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-33+8,-17,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-33+8,-14,-6), 3, new THREE.Vector3(0,4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-7+8,-17,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-7+8,-14,-6), 3, new THREE.Vector3(0,4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(19+8,-17,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(19+8,-14,-6), 3, new THREE.Vector3(0,4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(-20+8,14,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(-20+8,11,-6), 3, new THREE.Vector3(0,-4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(6+8,14,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(6+8,11,-6), 3, new THREE.Vector3(0,-4,4), "red"]);

    geom.push([sphereH, new THREE.Vector3(32+8,14,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(32+8,11,-6), 3, new THREE.Vector3(0,-4,4), "red"]);

    // geom.push([sphereH, new THREE.Vector3(57+8,14,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    // geom.push([cylinder, new THREE.Vector3(57+8,11,-6), 3, new THREE.Vector3(0,-4,4), "red"]);

    // geom.push([sphereH, new THREE.Vector3(57+8,14,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    // geom.push([cylinder, new THREE.Vector3(57+8,11,6), 3, new THREE.Vector3(0,-4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(44+8,-17,8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(44+8,-14,6), 3, new THREE.Vector3(0,4,-4), "red"]);

    geom.push([sphereH, new THREE.Vector3(44+8,-17,-8), 0, new THREE.Vector3(0,0,0), "gray"]);
    geom.push([cylinder, new THREE.Vector3(44+8,-14,-6), 3, new THREE.Vector3(0,4,4), "red"]);

    // geom.push([cylinder, new THREE.Vector3(57+13,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);
    // geom.push([sphereH, new THREE.Vector3(60+13,-3,0), 0, new THREE.Vector3(0,0,0), "gray"]);

    // geom.push([sphereH, new THREE.Vector3(39+8,-4,0), 0, new THREE.Vector3(0,0,0), "gray"]);
    // geom.push([cylinder, new THREE.Vector3(36+8,0,0), 0, new THREE.Vector3(2,-2,0), "red"]);

    var pivot = new THREE.Group();
    scene.add(pivot);
    
    for (let i = 0; i < geom.length; i++) {
        var element = geom[i];
        var obj = new THREE.Mesh(element[0], new THREE.MeshLambertMaterial({color: element[4]}));
        
        if(element[0] == cylinder || element[0] == cylinderC){
            var rotationVector = element[3].normalize();
            var axis = new THREE.Vector3(0, 1, 0);
            obj.quaternion.setFromUnitVectors(axis, rotationVector.clone().normalize());
            obj.position.add(rotationVector.multiplyScalar(element[2] / 2).add(element[1]));
        } else {
            obj.position.add(element[3].normalize().multiplyScalar(element[2]).add(element[1]));
        }
        pivot.add(obj);
    }
    
    new THREE.Box3().setFromObject(pivot).getCenter(pivot.position).multiplyScalar(- 1);
    scene.add(pivot);

    // Define Render Function
    var render = function() {
        requestAnimationFrame(render);
        //controls.update();
        // Rotate the objects indefinitely
        //pivot.rotation.z += 0.02;
        //pivot.rotation.y += 0.02;
        renderer.render(scene, camera);
    }

    // Call this to render the entire scene
    render();

    </script>
</body>
</html>